<div class="jumbotron vertical-center">
  <div class="container">
    <h1> International Exchange</h1>
    <h4> Make America Date Again </h3>
    <br><br>

    <%= notice %>

  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <%= fa_icon "globe", class: "fa-5x" %>
    <h3>We've combed the globe</h3>
    <p>And your matches are waiting for you</p>
  </div>
  <div class="col-md-4">
    <%= fa_icon "comments", class: "fa-5x" %>
    <h3>Start a harmless chat</h3>
    <p>Or two or three</p>
  </div>
  <div class="col-md-4">
    <%= fa_icon "heart-o", class: "fa-5x" %>
    <h3>28 point compatibility rating</h3>
    <p>Ensured to woo your heart.</p>
  </div>
</div>
<a href="http://localhost:3000/signup" style="text-decoration: none"><button class="love_button">Join Now</button></a>
